// Colour variables

$color-white: #ffffff;
$color-very-light-grey: #f7f7f7;
$color-light-grey: #d7d7d7;
$color-mid-grey: #929292;
$color-black: #000000;

$color-light-blue: #258cfb;
$color-blue: #006bb7;
$color-blue-2: #1861ac;
$color-blue-3: #1b6ec2;
$color-dark-blue: #052767;

$color-green: #26b050;
$color-red: #e50000;
$color-light-yellow: #ffffe0;
$color-purple: #3a0647;

// Width variables

$width-tablet: 641px;

// Font variables

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;