@inherits LayoutComponentBase
@using BlazorApp.Components.Layout.Foundation

<TopBar />

<div class="callout large primary">
    <div class="text-center">
        <h1>Fresh Caffeine</h1>
        <h2 class="subheader">Blazor Demo </h2>
    </div>
</div>

<main class="grid-container">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
