<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu">
            <li class="menu-text">Fresh Caffeine - Blazor Demo</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="counter">Counter</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="weather">Weather</NavLink>
            </li>
        </ul>
    </div>
</div>